body {
    background-image: url("../images/unsplash.jpg");
    text-align: center;
    color: mediumslateblue;
   


}

.secondDiv {
    color: darkslateblue;

}

.maindiv {
    background-color: rgba(230,230,250, 0.5);
    width: 700px;
    height: 600px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;


}

.thirdDiv {
    font-weight: bold;


}

.fourthDiv{
    font-size: 14px;
    background-color: rgba(230,230,250, 0.5);
}

h3 {
    font-weight: bold;

}

.btn {
    margin: 20px;
    color: rgb(189, 162, 221);
}

h3{
    color: darkslateblue;

}

.start{
    background-color: rgba(230,230,250, 0.8);
    width: 500px;
    height: 300px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}